<!DOCTYPE html>
<html lang="en" ng-app="solarguessr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
		<link rel="manifest" href="/manifest.json" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e74c3c" />
		<meta name="theme-color" content="#fefefe" />
		
		<base href="/" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
		<script src="/cesium/Cesium.js"></script>
		<script src="/app/solarguessr.js"></script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/spectre.min.css" />
		<link rel="stylesheet" href="/cesium/Widgets/widgets.css" />
		<link rel="stylesheet" href="/css/style.css" />
		
		<title>SolarGuessr</title>
	</head>
	<body ng-controller="MainController">
		
		<section ng-if="showNavigation()" class="container section" style="padding-left: 5rem; padding-right: 5rem; background-color: #333" ng-include="'/app/routes/nav/navView.html'">
		</section>
		
		<div ng-class="{fullscreen: !showNavigation()}" ng-view></div>
		
		<section ng-if="showNavigation()" class="section container" style="background-color: #111111;padding: 5rem; color: #eeeeee">
			<p>Footer</p>
		</section>
		
		<div bn-modals ng-show="subview" class="m-modals" ng-switch="subview" ng-controller="ModalController">
			
			<div class="modal active" ng-switch-when="login">
				<div class="modal-overlay" ng-click="cancel()"></div>
				<div class="modal-container">
					<div class="modal-header">
						<button class="btn btn-clear float-right" ng-click="cancel()"></button>
						<div class="modal-title">
							Log in with one of these providers
						</div>
					</div>
					<div class="modal-body">
						<div class="content">
							<a href="/auth/facebook" target="_self" class="btn btn-block btn-lg fa-login">
								<i class="icon fa fa-facebook-official" aria-hidden="true"></i>
								<span>Facebook</span>
							</a>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
					</div>
				</div>
			</div>
			
			<div class="modal active" ng-switch-when="guess">
				<div class="modal-overlay"></div>
				<div class="modal-container">
					<div class="modal-header">
						<button class="btn btn-clear float-right" ng-click="cancel()"></button>
						<div class="modal-title">
							Guess location
						</div>
					</div>
					<div class="modal-body">
						<div class="content">
							<p>Select a planet</p>
							<div class="planet-selector text-center">
								<label class="form-radio" ng-repeat="planet in params().options">
									<p class="text-center">
										{{ planet.name }}
									</p>
									<input type="radio" ng-model="params().guess.planet" ng-value="planet"></input>
									<i class="form-icon"></i>
									<figure class="avatar avatar-xl">
										<img ng-src="{{planet.img[0]}}" />
									</figure>
								</label>
							</div>
							<p ng-if="params().guess.planet">Select a location</p>
							<div class="planet-location-selector" ng-if="params().guess.planet">
								<p>{{ params().guess.name }}</p>
								<div>
									<img ng-src="{{params().guess.planet.img[0]}}" />
									<img ng-src="{{params().guess.planet.img[1]}}" />
									<div class="guess-pin" ng-style="params().styleLocation" ng-if="params().styleLocation"></div>
									<div class="guess-box" ng-click="params().selectLocation($event)"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-link" ng-click="cancel()">Cancel</button>
						<button class="btn btn-primary" ng-click="confirm(params().guess)" ng-disabled="!params().guess.location">Guess</button>
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>
