html, body {
	height: 100%;
	margin-bottom: 0;
}

div.m-modals {
	background-color: rgba( 0, 0, 0, 0 ) ;
	bottom: 0px ;
	left: 0px ;
	position: fixed ;
	right: 0px ;
	top: 0px ;
}

div.m-modals.ng-hide-add.ng-hide-add-active,
div.m-modals.ng-hide-remove.ng-hide-remove-active {
	transition: 400ms ease all ;
}

div.m-modals.ng-hide > .modal.ng-enter {
	top: -400px ;
	transition: 400ms ease top ;
}

div.m-modals.ng-hide > .modal.ng-enter.ng-enter-active {
	top: 400px ;
}

.fa-login {
	background-color: #3b5998;
	border-color: #3b5998;
	color: #eeeeee;
}
.fa-login:focus {
	background-color: #3b5998;
	color: #eeeeee;
}
.fa-login:hover {
	background-color: #3b5998;
	border-color: #344e86;
}
.fa-login:active,
.fa-login.active {
	background-color: #344e86;
	border-color: #2d4373;
}
.fa-login > span {
	margin-left: .7rem;
}

.fullscreen {
	width: 100%;
	height: 100%;
}

#cesiumContainer {
	width: 100%;
	height: 100%;
}
