
<section class="section" style="color: #eeeeee;background-color: #111111;padding: 1rem .5rem;border-radius: .3rem;">
	<section class="container" style="margin-top: 10rem;margin-bottom: 5rem;">
		<header class="text-center" style="color: #e74c3c"><h2>SolarGuessr</h2></header>
		<header class="text-center"><h5>
			Imagine <a href="https://geoguessr.com/" style="color: #eeeeee">GeoGuessr</a>, but for the whole solar system
		</h5></header>
		<p class="text-center" style="padding-top: 2rem">
			<a href="#" class="btn btn-lg btn-primary">Play Now</a>
		</p>
	</section>
</section>

<section class="section container" style="background-color: #c8cdd0;padding: 5rem">
	<h4>Want to get more familiar with our home in the universe?</h4>
	<p>SolarGuessr places you on a celestial body in our solar system, and you have to figure out exactly where you are.</p>
	<ul>
		<li>
			<a ng-click="alertSomething()">Alert something</a>
		</li>
		<li>
			<a ng-click="confirmSomething()">Confirm something</a>
		</li>
		<li>
			<a ng-click="promptSomething()">Prompt something</a>
		</li>
	</ul>
</section>

<section class="section container" style="background-color: #eeeeee;padding: 5rem">
	<h4>Placeholder</h4>
	<p>Placeholder</p>
</section>

<section class="section container" style="background-color: #c8cdd0;padding: 5rem">
	<h4>Placeholder</h4>
	<p>Placeholder</p>
</section>
